.txt {
  font-style: italic;
}

body {
  position: relative;
  overflow-x: hidden;
}
.pru {
}
.mag {
  width: 40px;
  height: 25px;
}
.msg {
  width: 40px;
  height: 25px;
}
.crd {
  width: 40px;
  height: 25px;
}

.click {
  background-color: #ececf1;
  border-radius: 50px;
  margin-left: 20px;
  padding: 5px 15px 5px 2px;
  margin-top: 1px;
}

a {
  text-decoration: none;
  color: #6c7a8a;
  font-style: italic;
}
.indv {
  background-color: white;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  padding: 4px 5px 5px 17px;
}

.co-p {
  padding-left: 5px;
}

button {
  border: 2px solid #ececf1;
  border-radius: 50px;
  background-color: white;
  padding: 3px 20px 3px 20px;
  margin-left: 20px;
  margin-top: 2px;
  font-style: italic;
}

li {
  list-style: none;
  color: white;
  margin: 0px 20px 0px 15px;
}

.imp {
  border-radius: ;
  padding: 0px 100px 0px 120px;
}

.low-nav {
  background-color: #ed1b2e;
  display: flex;
  justify-content: center;
}
.test {
  height: 5000px;
}

.nv-hd {
  box-shadow: 0px 10px 10px -15px #111;
}

.btn-chng {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px 10px 0px;
  background-color: none;
  border-top: 0.5px solid #9d9e9e;
}

@media (max-width: 991px) {
  .dissapear {
    display: none;
  }

  .image {
    width: 150px;
  }
}
